/*We couldn't settle for the simple fonts that Windows offers, so we downloaded 
from dafont.com and used their fonts for a more attractive interface. This section
shows the fonts we used for this css.*/

@font-face {
font-family: 'BasicTitle';
src: url('../fonts/basictitlefont.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Ostrich';
src: url('../fonts/OstrichSansInline-Regular.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Walkway';
src: url('../fonts/Walkway Bold.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'KeepCalm';
src: url('../fonts/KeepCalm-Medium.ttf');
font-weight: normal;
font-style: normal;
}

/*The code for the styles of the contents start here.*/

ul
{
list-style-type: none;
}

body
{
background-color:black;
background-image: url('../images/empstate.jpg');
background-attachment: fixed;
background-repeat: repeat;
background-size: 100% 100%;
}

h1
{
font-family: Walkway;
}

p
{
font-family:Calibri Light;
font-size:18px;
line-height:25px;
text-indent:50px;
text-align: justify;
width:98%;
}

ol
{
font-family:Calibri Light;
font-size:18px;
line-height:25px;
position: relative;
left:5%;
width:88%;
line-height:25px;
}

table 
{
background-color:white;
padding:20px; 
border:0px;
border-top-left-radius:45px; 
border-top-right-radius:45px; 
border-bottom-left-radius:45px; 
border-bottom-right-radius:45px;
width: 79%;
height: 100%;
position:relative;
z-index:1;
left:12%;
box-shadow:
		0 0 10px 3px gray,
		0 0px .5px rgba(0,0,0,0.1);
}

.disc_header
{
width:100%;
position:relative;
border-top-left-radius:20px;
border-top-right-radius:20px;
top:5%;
}

#discpage
{
position:absolute;
z-index:1;
top:15%;
text-align:center;
font-family: BasicTitle;
color:white;
font-size: 50px;
font-weight:bold;
left:0%;
}

td
{
border:0px;
border-top-left-radius:45px; 
border-top-right-radius:45px; 
border-bottom-left-radius:45px; 
border-bottom-right-radius:45px;
}

.discstop
{
border-radius: 0px;
}

.discstop:hover
{
background-color: skyblue;
}

h3
{
font-family: Ostrich;
font-size: 65px;
font-weight:normal;
padding-left:20px;
padding-bottom:2px;
height:35px;
text-align:center;
}

.devs
{
font-family:Calibri, Helvetica, sans-serif; 
font-size:10px;
text-align:center;
vertical-align:middle;
letter-spacing:3px;
margin-top:0px;
color:white;
position:relative;
bottom:25px;
}

/*This section will show the style for the main menu items. We used animation here which
we learned from Mary Lou from Tympanus.net. */

.menu-grid
{
border:0px;
border-top-left-radius:45px; 
border-top-right-radius:45px; 
position:fixed;
width:10%;
height:20%;
float:left;
left:1%;
top:18%;
z-index:1;
display:block;
list-style: none;
text-align: center;
margin: 0px 0 0 0;
padding: 0;
}

.menu-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.menu-grid:after {
	clear: both;
}

.menu-grid li {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 0px;
}

.menu-item {
	
	background-position:center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(0, 0, 0, 0),
		inset 0 0 0 2px rgba(0),
		0 1px 1px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.home-img { 
	background-image: url(../images/appbar.home.png);
}

.disc-img { 
	background-image: url(../images/appbar.book.png);
}

.ref-img { 
	background-image: url(../images/appbar.book.open.information.png);
}

.test-img { 
	background-image: url(../images/appbar.lightbulb.coil.png);
}

.about-img { 
	background-image: url(../images/appbar.information.png);
}

.menu-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.menu-info .aabout {
	color: #000;
	text-decoration:none;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;
	top:2px;
}

.menu-info .ahome {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	top:4px;
	position: relative;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;

}

.menu-item .adisc {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	top:21px;
	position: relative;
	letter-spacing: 1px;
	font-size: 9px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;

}

.menu-info .atest {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	bottom:2px;
	position: relative;
	letter-spacing: 1px;
	font-size: 11.5px;
	font-family: 'KeepCalm', Arial, sans-serif;
}

.menu-item:hover {
	opacity:.75;
	box-shadow: 
		inset 0 0 0 110px white,
		inset 0 0 0 2px white,
		0 1px 2px rgba(0,0,0,0.1);
}

.menu-item:hover .menu-info {
	opacity: 1;
	transform: scale(1);	
}

.hr2
{
height:.15px;
width: 500px;
color:white;
position:relative;
bottom:30px;
}