.center-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

div#main {
	width: 100vw;
	height: 100vh;
	background-image: url(../img/photo-1451933371645-a3029668b979.jpg);
	background-size: cover;
}

.centered {
	max-width: 50%;
}
