/*We couldn't settle for the simple fonts that Windows offers, so we downloaded 
from dafont.com and used their fonts for a more attractive interface. This section
shows the fonts we used for this css.*/

@font-face {
font-family: 'KeepCalm';
src: url('../fonts/KeepCalm-Medium.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SinkinSans';
src: url('../fonts/SinkinSans-100Thin.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SinkinSansReg';
src: url('../fonts/SinkinSans-400Regular.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Walkway';
src: url('../fonts/Walkway Bold.ttf');
font-weight: normal;
font-style: normal;
}

/*The code for the styles of the contents start here.*/

body
{
background-image: url('../images/ny.jpg');
background-size: 100% 100%;
background-attachment: fixed;
}


table 
{
background-color:none;
background-attachment:relative;
padding:20px; 
border-color: black;
border-width:5px;
border-top-left-radius:45px; 
border-top-right-radius:45px; 
border-bottom-left-radius:45px; 
border-bottom-right-radius:45px;
position:absolute;
width: 75%;
height:100%;
bottom:8%;
left: 12%;
}


h1
{
font-family:KeepCalm, Helvetica, sans-serif; 
font-size:80px;
text-align:center;
vertical-align:middle;
margin-top:250px;
color:white;
float:center; 
letter-spacing:4px;
line-height:1%;
white-space:nowrap;
}

h3
{
font-family:SinkinSans, Helvetica, sans-serif; 
font-size:40px;
text-align:center;
vertical-align:middle;
margin-top:0px;
color:white;
float:center; 
letter-spacing:16px;
position:relative;
left:15px;
bottom:30px;
}

h4
{
font-family:SinkinSans, Helvetica, sans-serif; 
font-size:40px;
text-align:center;
vertical-align:middle;
margin-top:0px;
color:white;
float:center; 
letter-spacing:16px;
position:relative;
left:15px;
bottom:10px;
}

hr
{
background-color:white;
width: 450px;
height:2px;
color:white;
position:relative;
bottom:30px;
}

ul
{
text-align:center;
list-style-type:none;
margin:0;
padding:0;
}

li
{
display:inline;
}

/*This section will show the style for the main menu items. */

.menu-grid {
	margin: 0px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.menu-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.menu-grid:after {
	clear: both;
}

.menu-grid li {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 0px;
}

.menu-item {
	
	background-position:center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(0, 0, 0, 0),
		inset 0 0 0 2px rgba(0),
		0 1px 1px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.home-img { 
	background-image: url(../images/appbar.home.png);
}

.disc-img { 
	background-image: url(../images/appbar.book.png);
}

.ref-img { 
	background-image: url(../images/appbar.book.open.information.png);
}

.test-img { 
	background-image: url(../images/appbar.lightbulb.coil.png);
}

.about-img { 
	background-image: url(../images/appbar.information.png);
}

.menu-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.menu-info .aabout {
	color: #000;
	text-decoration:none;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;
	top:2px;
}

.menu-info .ahome {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	top:4px;
	position: relative;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;

}

.menu-item .adisc {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	top:21px;
	position: relative;
	letter-spacing: 1px;
	font-size: 9px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;

}

.menu-info .atest {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	bottom:2px;
	position: relative;
	letter-spacing: 1px;
	font-size: 11.5px;
	font-family: 'KeepCalm', Arial, sans-serif;
}

.menu-info h5 .know {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	bottom:12px;
	position: relative;
	letter-spacing: 1px;
	font-size: 9.75px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;
	text-indent:0px;
	left:0%;
	width:100%;
	
}


.menu-item:hover {
	opacity:.75;
	box-shadow: 
		inset 0 0 0 110px white,
		inset 0 0 0 2px white,
		0 1px 2px rgba(0,0,0,0.1);
}

.menu-item:hover .menu-info {
	opacity: 1;
	transform: scale(1);	
}



