/*
	`index.html` Stylesheet
*/

.center-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

div#main {
	width: 100vw;
	height: 100vh;
	background-image: url(../img/photo-1451933371645-a3029668b979.jpg);
	background-size: cover;
}

.centered {
	max-width: 50%;
}

.title {
	font-family: "Roboto Slab", sans-serif;
}

.subtitle {
	font-family: "Yanone Kaffeesatz", sans-serif;
}

div#main .title {	
	font-weight: bold;
	font-size: 11vw;
	margin: 0;
	letter-spacing: 1vw;
	color: white;
	text-align: center;
}

div#main .subtitle {	
	font-size: 3vw;
	margin: 0;
	color: white;
	text-align: center;
}
.menu-grid {
	margin: 0px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.menu-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.menu-grid:after {
	clear: both;
}

.menu-grid li {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 0px;
}

.menu-item {
	
	background-position:center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(0, 0, 0, 0),
		inset 0 0 0 2px rgba(0),
		0 1px 1px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.home-img { 
	background-image: url(../images/appbar.home.png);
}

.disc-img { 
	background-image: url(../images/appbar.book.png);
}


.test-img { 
	background-image: url(../images/appbar.lightbulb.coil.png);
}

.about-img { 
	background-image: url(../images/appbar.information.png);
}

.menu-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.menu-info .aabout {
	color: #000;
	text-decoration:none;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;
	top:2px;
}

.menu-info .ahome {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	top:4px;
	position: relative;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;

}

.menu-item .adisc {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	top:21px;
	position: relative;
	letter-spacing: 1px;
	font-size: 9px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;

}

.menu-info .atest {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	bottom:2px;
	position: relative;
	letter-spacing: 1px;
	font-size: 11.5px;
	font-family: 'KeepCalm', Arial, sans-serif;
}

.menu-info h5 .know {
	color: #000;
	opacity:1;
	text-decoration:none;
	text-transform: uppercase;
	bottom:12px;
	position: relative;
	letter-spacing: 1px;
	font-size: 9.75px;
	font-family: 'KeepCalm', Arial, sans-serif;
	vertical-align:middle;
	text-indent:0px;
	left:0%;
	width:100%;
	
}


.menu-item:hover {
	opacity:.75;
	box-shadow: 
		inset 0 0 0 110px white,
		inset 0 0 0 2px white,
		0 1px 2px rgba(0,0,0,0.1);
}

.menu-item:hover .menu-info {
	opacity: 1;
	transform: scale(1);	
}


